.parallax {
    /* The image used */
    background-image: url("../image/image.jpg");

    /* Set a specific height */
    min-height: 800px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body,html{
	margin:0;
	padding:0;
	font-family:comic sans MS;
	background-color: linen;
}
li{
	text-decoration-style: none;
	list-style: none;
	border-color: 4.8px #ccc;
	margin: 10px;
	background-color: #f1f1f1;
	border-radius: 20px;
	padding-left:20px;
	padding-bottom: 20px;
	padding-bottom: 20px;
	font-size: 40px;
	font-weight: bold;
}
ul{
	margin-bottom:50px;
}

li:hover{
	background-color: #555;
}
#booklink{
	text-align: center;
}
a:link
{
	color:#64572a;
	background-color:transparent;
	text-decoration:none;
}
a:visited
{
	color:rgb(210,105,30);
	background-color:transparent;
	text-decoration:none;
}
a:hover
{
	color:rgb(192,192,192);
	background-color:transparent;
	text-decoration:none;
}
a:active/*a:active must coe after a hover*/
{
	color:red;
	background-color:transparent;
	text-decoration:none;
}
footer{
	background-color: rgba(187,143,206,0.5);
	float:center;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
a.social{
	margin:20px;
	font-size:35px;
	color:#64572a;
}
@media screen and (max-width: 640px) {
	.parallax{
		background-image: url(../image/image2.jpg);
	}
   li{
   	font-size:25px;
  }
}
